{% extends "base/home.html" %}
{% block content %}

<div class="container">
    <form method="post" action="{% url 'stocks-query' %}">
        {% csrf_token %}
        <p>query: <input type="text" style="width: 100ch; height: 90px;" name="stocks-search-query">
            <input type="submit" value="submit"></p>
    </form>

    <div class="container table-responsive">
        <table class="  table table-fluid  table-hover table-bordered" id="myTable">
            <thead>
            <tr>
                {% for fieldname in names %}
                {% if fieldname == 'company_name' %}
                <th style="min-width: 30ch; color:navy;">{{ fieldname.upper }}</th>
                {% elif fieldname == 'date' %}
                <th style="min-width: 20ch; color:navy;">{{ fieldname.upper }}</th>
                {% else %}
                <th>{{ fieldname.upper }}</th>
                {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for row in rows %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

{% endblock content %}
