{% extends "base/home.html" %}
{% block content %}
<br>
<br>
<h5>Hi..this is Hemanth. Thanks for using website. Have any Questions or sugesstions.
    Please email:<h2 style="color: blue;">jonnalapycreations@gmail.com</h2></h5>
<!--<form action = "{% url 'contact' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <div class="form-actions">-->
<!--      <button type="submit">Send</button>-->
<!--    </div>-->
<!--</form>-->

{% endblock content %}
