{% load static %}
<nav class="navbar navbar-light bg-light" style="float:right;">
    <div class="dropdown" >
        <button class="btn btn-info"><a target="_blank" style="color:black;"
                                        href="{% url 'stocks-screen' %}">Refresh</a></button>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            DB Tables
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for table in tables %}
            <a class="dropdown-item" href="#">{{ table }}</a>
            {% endfor %}
        </div>

    </div>

</nav>
